<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Options</title>
    <link rel="icon" href="img/icon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Suez+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
    <div class="col-lg-5 col-md-6 col-10 container">
        <nav class="navbar navbar-light border-bottom">
            <a class="navbar-brand" href="/">
              <img src="img/logo.svg" width="50" height="50" class="d-inline-block align-content-center" alt="">
              PomoVideo  
            </a>
            <a href="/options" class="btn btn-outline-secondary"><img src="img/gear.png" width="30" height="30"></a>
        </nav>
        <br>
        <form action="/options?_method=PUT" method="POST">
            <section class="row">
                <p><b>Length (minutes)</b></p>
                <div class="col">
                    <label for="pomodoro" class="options-label">Pomodoro</label>
                    <input type="number" id="pomodoro" class="form-control" name="workTime" value="<%=timers.workTime%>" placeholder="<%=timers.workTime%>"  min="1" max="99">
                </div>
                <div class="col">
                    <label for="short-break" class="options-label">Short Break</label>
                    <input type="number" id="short-break" class="form-control" name="shortBreak" value="<%=timers.shortBreak%>" placeholder="<%=timers.shortBreak%>" min="1" max="99">
                </div>
                <div class="col">
                    <label for="long-break" class="options-label">Long Break</label>
                    <input type="number" id="long-break" class="form-control" name="longBreak" value="<%=timers.longBreak%>" placeholder="<%=timers.longBreak%>" min="1" max="99">
                </div>
            </section>
            <br>
            <section class="row">
                <div class="col">
                    <label for="sound" class="options-label">Alarm Sound</label>
                    <select name="sound" id="sound">
                        <% const names = ["arpeggio", "electronic", "chime", "mallets", "wood"] %>
                        <% for (let name of names) { %>
                            <% if (name === sound) {%>
                                <option value="<%=name%>" selected><%=name%></option>
                            <% } else {  %>
                                <option value="<%=name%>"><%=name%></option>
                            <% } %>  
                        <% } %> 
                    </select>
                </div>
            </section>
            <br>
            <section class="row">
                <div class="col">
                    <label for="auto" class="options-label">Auto Start</label>
                    <input type="checkbox" class="form-check-input" id="auto" name="auto" value="true" <%= auto === 'true' ? "checked" : ""%>>
                </div>
            </section>
            <br>
            <button class="btn btn-success align-self-end">Save</button>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>